<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    {{msg}}
    <font ><marquee direction="left" style="background:orange"><h1>Register</h1></marquee></font>
  <center> <form action="/register" method="post">
    Name <input type="text" name="txtName">
    <br>
    Password <input type="pass" name="txtPass">
    <br>
    {{!--  Role <select name="role">
        <option value="admin">Admin</option>
        <option value="user">User</option>
    </select> 
    <br> --}}
    <input type="submit" value="Register"><br>
     <a href="/login">login</a>
    <hr>
   <img src="about.jfif"> </img>
    </form></center> 
    
</body>
</html>